---
import Layout from "../../../layouts/PostIndex.astro";

import { getCollection } from "astro:content";
import FormattedDate from "../../../components/FormattedDate.astro";

export async function getStaticPaths() {
  const posts = (await getCollection("posts")).sort(
    (a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf()
  );
  const tags = [...new Set(posts.map((post) => post.data.tags).flat())];

  return tags.map((tag) => ({
    params: {
      tag: tag,
    },
    props: {
      posts: posts.filter((post) => post.data.tags?.includes(tag)),
    },
  }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title=`Posts with tag: ${tag}`>
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/posts/${post.slug}/`}>
              <img width={720} height={360} src={post.data.heroImage} alt="" />
              <h4 class="title">{post.data.title}</h4>
              <p class="date">
                <FormattedDate date={post.data.publishedDate} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
